# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env
venv/**
npm-debug.log

.idea
src/rendering/output/**

binaries/ffmpeg.exe
binaries/ffprobe.exe
binaries/ffmpeg
binaries/ffprobe